@charset "UTF-8";
@font-face {
  font-family: "Light 45";
  src: url(../fonts/light-45/Light-45.eot);
  src: url(../fonts/light-45/Light-45.eot?iefix) format("embedded-opentype");
  src: url(../fonts/light-45/Light-45.woff) format("woff");
  src: url(../fonts/light-45/Light-45.svg) format("svg");
  src: url(../fonts/light-45/Light-45.ttf) format("truetype");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: "Kontanter";
  src: url(../fonts/Kontanter/Kontanter-Bold.eot);
  src: url(../fonts/Kontanter/Kontanter-Bold.eot?iefix) format("embedded-opentype");
  src: url(../fonts/Kontanter/Kontanter-Bold.woff) format("woff");
  src: url(../fonts/Kontanter/Kontanter-Bold.svg) format("svg");
  src: url(../fonts/Kontanter/Kontanter-Bold.ttf) format("truetype");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: "fx-icons";
  src: url(../fonts/flex-icons/fx-icons.eot);
  src: url(../fonts/flex-icons/flex-icons.eot?#iefix) format("embedded-opentype"), url(../fonts/flex-icons/flex-icons.woff) format("woff"), url(../fonts/flex-icons/flex-icons.ttf) format("truetype"), url(../fonts/fx-icons/flex-icons.svg#flex-icons-path) format("svg");
  font-weight: normal;
  font-style: normal; }
[data-fx-icon]:before {
  font-family: "fx-icons" !important;
  content: attr(data-fx-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="fx-icons-"]:before, [class*=" fx-icons-"]:before {
  font-family: "fx-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fx-icons-appstorm:before {
  content: "b"; }

.fx-icons-3docean:before {
  content: "d"; }

.fx-icons-2co:before {
  content: "f"; }

.fx-icons-activeden:before {
  content: "g"; }

.fx-icons-ali-pay:before {
  content: "j"; }

.fx-icons-amago:before {
  content: "l"; }

.fx-icons-amazon-label:before {
  content: "m"; }

.fx-icons-anis:before {
  content: "p"; }

.fx-icons-check-circle:before {
  content: "q"; }

.fx-icons-check:before {
  content: "r"; }

.fx-icons-cheese:before {
  content: "s"; }

.fx-icons-cheetah:before {
  content: "t"; }

.fx-icons-cirrus-logo:before {
  content: "u"; }

.fx-icons-chameleon:before {
  content: "v"; }

.fx-icons-camel:before {
  content: "w"; }

.fx-icons-camel-1:before {
  content: "x"; }

.fx-icons-bear:before {
  content: "z"; }

.fx-icons-arrow:before {
  content: "A"; }

.fx-icons-beetle:before {
  content: "B"; }

.fx-icons-asia-pay:before {
  content: "D"; }

.fx-icons-asia-rise:before {
  content: "E"; }

.fx-icons-bird-little:before {
  content: "F"; }

.fx-icons-egret:before {
  content: "G"; }

.fx-icons-atos-logo:before {
  content: "H"; }

.fx-icons-audiojungle:before {
  content: "J"; }

.fx-icons-duck:before {
  content: "K"; }

.fx-icons-penguim:before {
  content: "L"; }

.fx-icons-star:before {
  content: "M"; }

.fx-icons-whale:before {
  content: "N"; }

.fx-icons-circle-phone:before {
  content: "O"; }

.fx-icons-back-arrow:before {
  content: "Q"; }

.fx-icons-bpay-logo:before {
  content: "R"; }

.fx-icons-bread:before {
  content: "S"; }

.fx-icons-bull:before {
  content: "T"; }

.fx-icons-butterfly:before {
  content: "U"; }

.fx-icons-bbb:before {
  content: "V"; }

.fx-icons-battery-low:before {
  content: "W"; }

.fx-icons-battery:before {
  content: "X"; }

.fx-icons-cyberchimps-fill:before {
  content: "Z"; }

.fx-icons-deer:before {
  content: "2"; }

.fx-icons-delta-logo:before {
  content: "5"; }

.fx-icons-desarrolloweb-1:before {
  content: "6"; }

.fx-icons-cyberchimps:before {
  content: '"'; }

.fx-icons-cut:before {
  content: "$"; }

.fx-icons-credit-security:before {
  content: "&"; }

.fx-icons-credit-pass:before {
  content: "'"; }

.fx-icons-credit-receipt:before {
  content: "("; }

.fx-icons-credit:before {
  content: ")"; }

.fx-icons-credit-international:before {
  content: "*"; }

.fx-icons-creative:before {
  content: "-"; }

.fx-icons-cow:before {
  content: "."; }

.fx-icons-clickandbuy-logo:before {
  content: ";"; }

.fx-icons-clock:before {
  content: "<"; }

.fx-icons-cockroach:before {
  content: "="; }

.fx-icons-code:before {
  content: ">"; }

.fx-icons-codecanyon:before {
  content: "@"; }

.fx-icons-codrops:before {
  content: "["; }

.fx-icons-coliss:before {
  content: "^"; }

.fx-icons-cones:before {
  content: "`"; }

.fx-icons-fruit69:before {
  content: "|"; }

.fx-icons-frog:before {
  content: "}"; }

.fx-icons-freepik-body:before {
  content: ""; }

.fx-icons-fingers-two-drag:before {
  content: ""; }

.fx-icons-fingers-two-touch:before {
  content: ""; }

.fx-icons-fingers-expand:before {
  content: ""; }

.fx-icons-fish-monster:before {
  content: ""; }

.fx-icons-fish:before {
  content: ""; }

.fx-icons-fish-aquarium:before {
  content: ""; }

.fx-icons-flamingo:before {
  content: ""; }

.fx-icons-error-contorn:before {
  content: ""; }

.fx-icons-exclamation-mark:before {
  content: ""; }

.fx-icons-fly:before {
  content: ""; }

.fx-icons-football:before {
  content: ""; }

.fx-icons-fox:before {
  content: ""; }

.fx-icons-finger-one-drag-left:before {
  content: ""; }

.fx-icons-finger-one-touch:before {
  content: ""; }

.fx-icons-finger-one-drag-right:before {
  content: ""; }

.fx-icons-electric:before {
  content: ""; }

.fx-icons-eco-logo:before {
  content: ""; }

.fx-icons-ebay-logo:before {
  content: ""; }

.fx-icons-earphones:before {
  content: ""; }

.fx-icons-drwebde:before {
  content: ""; }

.fx-icons-drupal:before {
  content: ""; }

.fx-icons-nessi:before {
  content: ""; }

.fx-icons-eps-logo:before {
  content: ""; }

.fx-icons-envato:before {
  content: ""; }

.fx-icons-download:before {
  content: ""; }

.fx-icons-dropbox:before {
  content: ""; }

.fx-icons-diners-1:before {
  content: ""; }

.fx-icons-electronic-logo:before {
  content: ""; }

.fx-icons-elephant:before {
  content: ""; }

.fx-icons-down-double:before {
  content: ""; }

.fx-icons-dolphin:before {
  content: ""; }

.fx-icons-receipt:before {
  content: ""; }

.fx-icons-save:before {
  content: ""; }

.fx-icons-direct-logo:before {
  content: ""; }

.fx-icons-horse:before {
  content: ""; }

.fx-icons-hotdog:before {
  content: ""; }

.fx-icons-html5:before {
  content: ""; }

.fx-icons-hummingbird:before {
  content: ""; }

.fx-icons-inkydeals:before {
  content: ""; }

.fx-icons-inspiredmag:before {
  content: ""; }

.fx-icons-instant:before {
  content: ""; }

.fx-icons-firefox:before {
  content: ""; }

.fx-icons-hippo:before {
  content: ""; }

.fx-icons-heartland:before {
  content: ""; }

.fx-icons-hawk:before {
  content: ""; }

.fx-icons-hand-drag-left:before {
  content: ""; }

.fx-icons-hand-drag-right:before {
  content: ""; }

.fx-icons-hand-circle-fingers-right:before {
  content: ""; }

.fx-icons-hand-decrease:before {
  content: ""; }

.fx-icons-hand-join:before {
  content: ""; }

.fx-icons-hand8:before {
  content: ""; }

.fx-icons-hand6:before {
  content: ""; }

.fx-icons-hand4:before {
  content: ""; }

.fx-icons-hand-circle-fingers-left:before {
  content: ""; }

.fx-icons-gear39:before {
  content: ""; }

.fx-icons-gecko:before {
  content: ""; }

.fx-icons-gift:before {
  content: ""; }

.fx-icons-giraffe:before {
  content: ""; }

.fx-icons-github:before {
  content: ""; }

.fx-icons-google-wallet-logo:before {
  content: ""; }

.fx-icons-graphicriver:before {
  content: ""; }

.fx-icons-mobiletuxedo-1:before {
  content: ""; }

.fx-icons-mobiletuxedo-2:before {
  content: ""; }

.fx-icons-mobiletuxedo-3:before {
  content: ""; }

.fx-icons-microsiervos:before {
  content: ""; }

.fx-icons-microraptor:before {
  content: ""; }

.fx-icons-microlancer:before {
  content: ""; }

.fx-icons-chrome:before {
  content: ""; }

.fx-icons-loving:before {
  content: ""; }

.fx-icons-maestro-logo:before {
  content: ""; }

.fx-icons-card-validator:before {
  content: ""; }

.fx-icons-master-card:before {
  content: ""; }

.fx-icons-meetup:before {
  content: ""; }

.fx-icons-card-debit:before {
  content: ""; }

.fx-icons-menu:before {
  content: ""; }

.fx-icons-link:before {
  content: ""; }

.fx-icons-lemur:before {
  content: ""; }

.fx-icons-left-two:before {
  content: ""; }

.fx-icons-left:before {
  content: ""; }

.fx-icons-last-track:before {
  content: ""; }

.fx-icons-laser:before {
  content: ""; }

.fx-icons-lamb:before {
  content: ""; }

.fx-icons-kangaroo:before {
  content: ""; }

.fx-icons-vk:before {
  content: ""; }

.fx-icons-running:before {
  content: ""; }

.fx-icons-safari:before {
  content: ""; }

.fx-icons-sage-1:before {
  content: ""; }

.fx-icons-scorpion:before {
  content: ""; }

.fx-icons-seahorse:before {
  content: ""; }

.fx-icons-serpent:before {
  content: ""; }

.fx-icons-sheep:before {
  content: ""; }

.fx-icons-shark:before {
  content: ""; }

.fx-icons-skip-track:before {
  content: ""; }

.fx-icons-sitepoint:before {
  content: ""; }

.fx-icons-ring:before {
  content: ""; }

.fx-icons-right-arrow:before {
  content: ""; }

.fx-icons-whale-1:before {
  content: ""; }

.fx-icons-right:before {
  content: ""; }

.fx-icons-play:before {
  content: ""; }

.fx-icons-right-two:before {
  content: ""; }

.fx-icons-rhino:before {
  content: ""; }

.fx-icons-redo:before {
  content: ""; }

.fx-icons-plus:before {
  content: ""; }

.fx-icons-reset:before {
  content: ""; }

.fx-icons-css3:before {
  content: ""; }

.fx-icons-question:before {
  content: ""; }

.fx-icons-rabbit:before {
  content: ""; }

.fx-icons-rain:before {
  content: ""; }

.fx-icons-rain-sun:before {
  content: ""; }

.fx-icons-rat:before {
  content: ""; }

.fx-icons-planet:before {
  content: ""; }

.fx-icons-pixeden:before {
  content: ""; }

.fx-icons-pigeon:before {
  content: ""; }

.fx-icons-pig:before {
  content: ""; }

.fx-icons-photodune:before {
  content: ""; }

.fx-icons-phone-circle:before {
  content: ""; }

.fx-icons-phone:before {
  content: ""; }

.fx-icons-paypal-logo:before {
  content: ""; }

.fx-icons-card-not-accepted:before {
  content: ""; }

.fx-icons-onions:before {
  content: ""; }

.fx-icons-owl:before {
  content: ""; }

.fx-icons-panther:before {
  content: ""; }

.fx-icons-parrot:before {
  content: ""; }

.fx-icons-pause:before {
  content: ""; }

.fx-icons-pay-logo:before {
  content: ""; }

.fx-icons-paymate-1:before {
  content: ""; }

.fx-icons-navigation:before {
  content: ""; }

.fx-icons-myspace:before {
  content: ""; }

.fx-icons-mute:before {
  content: ""; }

.fx-icons-musical:before {
  content: ""; }

.fx-icons-musical-notes:before {
  content: ""; }

.fx-icons-moving:before {
  content: ""; }

.fx-icons-mouse:before {
  content: ""; }

.fx-icons-mondex-1:before {
  content: ""; }

.fx-icons-moose:before {
  content: ""; }

.fx-icons-milk:before {
  content: ""; }

.fx-icons-send-line:before {
  content: ""; }

.fx-icons-flickr-logo:before {
  content: ""; }

.fx-icons-send:before {
  content: ""; }

.fx-icons-pinterest:before {
  content: ""; }

.fx-icons-wifisignal:before {
  content: ""; }

.fx-icons-squares:before {
  content: ""; }

.fx-icons-sportive:before {
  content: ""; }

.fx-icons-blogspot:before {
  content: ""; }

.fx-icons-tumblr:before {
  content: ""; }

.fx-icons-stumble:before {
  content: ""; }

.fx-icons-shoppingcart:before {
  content: ""; }

.fx-icons-porridge:before {
  content: ""; }

.fx-icons-pirate:before {
  content: ""; }

.fx-icons-afro:before {
  content: ""; }

.fx-icons-battery-1:before {
  content: ""; }

.fx-icons-batterylempty:before {
  content: ""; }

.fx-icons-dribbble:before {
  content: ""; }

.fx-icons-connection-usb:before {
  content: ""; }

.fx-icons-connection-bluetooth:before {
  content: ""; }

.fx-icons-skype:before {
  content: ""; }

.fx-icons-virustotal:before {
  content: ""; }

.fx-icons-vimeo:before {
  content: ""; }

.fx-icons-videohive:before {
  content: ""; }

.fx-icons-verifone:before {
  content: ""; }

.fx-icons-user-female:before {
  content: ""; }

.fx-icons-user-male:before {
  content: ""; }

.fx-icons-user-private:before {
  content: ""; }

.fx-icons-user-add:before {
  content: ""; }

.fx-icons-user-block:before {
  content: ""; }

.fx-icons-finger-two-touch:before {
  content: ""; }

.fx-icons-finger-two-touch-drag:before {
  content: ""; }

.fx-icons-finger-two-touch-select:before {
  content: ""; }

.fx-icons-turtle:before {
  content: ""; }

.fx-icons-turkey:before {
  content: ""; }

.fx-icons-error:before {
  content: ""; }

.fx-icons-fingers-double-touch:before {
  content: ""; }

.fx-icons-unionpay:before {
  content: ""; }

.fx-icons-up-two:before {
  content: ""; }

.fx-icons-tiger:before {
  content: ""; }

.fx-icons-themeforest:before {
  content: ""; }

.fx-icons-template:before {
  content: ""; }

.fx-icons-switch-logo:before {
  content: ""; }

.fx-icons-smashing:before {
  content: ""; }

.fx-icons-sphinx:before {
  content: ""; }

.fx-icons-whale-2:before {
  content: ""; }

.fx-icons-snow:before {
  content: ""; }

.fx-icons-spider:before {
  content: ""; }

.fx-icons-telecheck-1:before {
  content: ""; }

.fx-icons-share:before {
  content: ""; }

.fx-icons-linkedin:before {
  content: ""; }

.fx-icons-square-logo:before {
  content: ""; }

.fx-icons-solid:before {
  content: ""; }

.fx-icons-solo-1:before {
  content: ""; }

.fx-icons-soundcloud:before {
  content: ""; }

.fx-icons-sun:before {
  content: ""; }

.fx-icons-stockvault:before {
  content: ""; }

.fx-icons-koala:before {
  content: ""; }

.fx-icons-ie:before {
  content: "e"; }

.fx-icons-whatsapp:before {
  content: "h"; }

.fx-icons-youthedesigner:before {
  content: "y"; }

.fx-icons-visa-logo:before {
  content: "I"; }

.fx-icons-web:before {
  content: "P"; }

.fx-icons-woothemes:before {
  content: "]"; }

.fx-icons-world-map:before {
  content: "~"; }

.fx-icons-wwwhatsnew:before {
  content: ""; }

.fx-icons-xataka:before {
  content: ""; }

.fx-icons-weblogs:before {
  content: ""; }

.fx-icons-webappers:before {
  content: ""; }

.fx-icons-web-2:before {
  content: ""; }

.fx-icons-wire-1:before {
  content: ""; }

.fx-icons-vine:before {
  content: ""; }

.fx-icons-vine-logo:before {
  content: ""; }

.fx-icons-spotify:before {
  content: ""; }

.fx-icons-reddit:before {
  content: ""; }

.fx-icons-myfolio:before {
  content: ""; }

.fx-icons-ads:before {
  content: ""; }

.fx-icons-baidu:before {
  content: ""; }

.fx-icons-bitbucket:before {
  content: ""; }

.fx-icons-deezer:before {
  content: ""; }

.fx-icons-delicious:before {
  content: ""; }

.fx-icons-ebay-large-logo:before {
  content: ""; }

.fx-icons-deviantart:before {
  content: ""; }

.fx-icons-flickr:before {
  content: ""; }

.fx-icons-grooveshark:before {
  content: ""; }

.fx-icons-instagram:before {
  content: ""; }

.fx-icons-kaixin:before {
  content: ""; }

.fx-icons-myspacing:before {
  content: ""; }

.fx-icons-youtube:before {
  content: ""; }

.fx-icons-wikipedia:before {
  content: ""; }

.fx-icons-weibo:before {
  content: ""; }

.fx-icons-comment:before {
  content: ""; }

.fx-icons-italic:before {
  content: ""; }

.fx-icons-graphicseditor:before {
  content: ""; }

.fx-icons-lines-left:before {
  content: ""; }

.fx-icons-numbered:before {
  content: ""; }

.fx-icons-quotation:before {
  content: ""; }

.fx-icons-edition:before {
  content: ""; }

.fx-icons-font:before {
  content: ""; }

.fx-icons-right-1:before {
  content: ""; }

.fx-icons-underline:before {
  content: ""; }

.fx-icons-textlines-center:before {
  content: ""; }

.fx-icons-textformat:before {
  content: ""; }

.fx-icons-textfile:before {
  content: ""; }

.fx-icons-document:before {
  content: ""; }

.fx-icons-speaker:before {
  content: ""; }

.fx-icons-worddocument:before {
  content: ""; }

.fx-icons-wepay:before {
  content: ""; }

.fx-icons-wire:before {
  content: ""; }

.fx-icons-wirecard:before {
  content: ""; }

.fx-icons-yandex:before {
  content: ""; }

.fx-icons-vindicia:before {
  content: ""; }

.fx-icons-switch:before {
  content: ""; }

.fx-icons-telecheck:before {
  content: ""; }

.fx-icons-stripe:before {
  content: ""; }

.fx-icons-square:before {
  content: ""; }

.fx-icons-paysafecard:before {
  content: ""; }

.fx-icons-payza:before {
  content: ""; }

.fx-icons-popmoney:before {
  content: ""; }

.fx-icons-realex:before {
  content: ""; }

.fx-icons-recurly:before {
  content: ""; }

.fx-icons-timwe:before {
  content: ""; }

.fx-icons-visa:before {
  content: ""; }

.fx-icons-webmoney:before {
  content: ""; }

.fx-icons-truste:before {
  content: ""; }

.fx-icons-ukash:before {
  content: ""; }

.fx-icons-western:before {
  content: ""; }

.fx-icons-worldpay:before {
  content: ""; }

.fx-icons-solo:before {
  content: ""; }

.fx-icons-skrill:before {
  content: ""; }

.fx-icons-sage:before {
  content: ""; }

.fx-icons-ogone:before {
  content: ""; }

.fx-icons-neteller:before {
  content: ""; }

.fx-icons-pay:before {
  content: ""; }

.fx-icons-paymate:before {
  content: ""; }

.fx-icons-payoneer:before {
  content: ""; }

.fx-icons-paypal:before {
  content: ""; }

.fx-icons-mondex:before {
  content: ""; }

.fx-icons-moneygram:before {
  content: ""; }

.fx-icons-mastercard:before {
  content: ""; }

.fx-icons-maestro:before {
  content: ""; }

.fx-icons-google-wallet:before {
  content: ""; }

.fx-icons-heartland-1:before {
  content: ""; }

.fx-icons-hsbc:before {
  content: ""; }

.fx-icons-izettle:before {
  content: ""; }

.fx-icons-jcb:before {
  content: ""; }

.fx-icons-klarna:before {
  content: ""; }

.fx-icons-laser-1:before {
  content: ""; }

.fx-icons-gift-1:before {
  content: ""; }

.fx-icons-euronet:before {
  content: ""; }

.fx-icons-eway:before {
  content: ""; }

.fx-icons-eps:before {
  content: ""; }

.fx-icons-electronic:before {
  content: ""; }

.fx-icons-eco:before {
  content: ""; }

.fx-icons-ebay:before {
  content: ""; }

.fx-icons-dwolla:before {
  content: ""; }

.fx-icons-cirrus:before {
  content: ""; }

.fx-icons-citibank:before {
  content: ""; }

.fx-icons-clickandbuy:before {
  content: ""; }

.fx-icons-alipay:before {
  content: ""; }

.fx-icons-amazon:before {
  content: ""; }

.fx-icons-american-express:before {
  content: ""; }

.fx-icons-asia:before {
  content: ""; }

.fx-icons-atos:before {
  content: ""; }

.fx-icons-bank:before {
  content: ""; }

.fx-icons-better:before {
  content: ""; }

.fx-icons-diners:before {
  content: ""; }

.fx-icons-delta:before {
  content: ""; }

.fx-icons-direct:before {
  content: ""; }

.fx-icons-discover:before {
  content: ""; }

.fx-icons-bips:before {
  content: ""; }

.fx-icons-bpay:before {
  content: ""; }

.fx-icons-checkout:before {
  content: ""; }

.fx-icons-soundcloud-circle:before {
  content: "7"; }

.fx-icons-apple:before {
  content: "8"; }

.fx-icons-add:before {
  content: "9"; }

.fx-icons-pac-man:before {
  content: "!"; }

.fx-icons-bars-graphic:before {
  content: "#"; }

.fx-icons-business:before {
  content: "%"; }

.fx-icons-cancel:before {
  content: "?"; }

.fx-icons-checked:before {
  content: ""; }

.fx-icons-diplomas:before {
  content: ""; }

.fx-icons-mac-os-x-contor:before {
  content: ""; }

.fx-icons-female:before {
  content: ""; }

.fx-icons-like:before {
  content: ""; }

.fx-icons-liked:before {
  content: ""; }

.fx-icons-sinusoid:before {
  content: ""; }

.fx-icons-settings:before {
  content: ""; }

.fx-icons-rss:before {
  content: ""; }

.fx-icons-radar:before {
  content: ""; }

.fx-icons-playstation:before {
  content: ""; }

.fx-icons-mac-os-x:before {
  content: ""; }

.fx-icons-mountain:before {
  content: ""; }

.fx-icons-male:before {
  content: ""; }

.fx-icons-mac-os:before {
  content: ""; }

.fx-icons-linegraphic:before {
  content: ""; }

.fx-icons-star-contorn:before {
  content: ""; }

.fx-icons-message:before {
  content: ""; }

.fx-icons-sound-waves:before {
  content: ""; }

.fx-icons-increase:before {
  content: ""; }

.fx-icons-steam:before {
  content: ""; }

.fx-icons-tag:before {
  content: ""; }

.fx-icons-thermometer:before {
  content: ""; }

.fx-icons-windows:before {
  content: ""; }

.fx-icons-folder:before {
  content: ""; }

.fx-icons-like-contorn:before {
  content: ""; }

.fx-icons-house:before {
  content: "a"; }

.fx-icons-google-plus:before {
  content: "c"; }

.fx-icons-twitter:before {
  content: "i";
  position: relative;
  bottom: -2px; }

.fx-icons-facebook:before {
  content: "k"; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-family: "Light 45", sans-serif; }

body, html {
  width: 100%;
  height: 100%; }

p {
  font-size: 14px; }

a, button {
  cursor: pointer; }

a:active, button:active {
  outline: none; }

a {
  color: #3f71be; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Kontanter", sans-serif; }

hr {
  border: none;
  height: 1px; }

hr:not(color) {
  background-color: #333333; }

[class^="fx-icons-"] {
  vertical-align: middle; }

.line, .container {
  z-index: 1; }

.header {
  width: 100%; }

.line {
  margin: 0 -15px; }

.container-fluid {
  padding: 0 15px; }

.container:after, .line:after, .navbar.nav:after, .fx-marks-banner ul:before,
.fx-circle-activate:before, .fx-marks-banner ul li a:before,
.fx-load-text:after,
.container-fluid:after,
.fx-contextmenu:before,
.fx-carrossel:after {
  content: "";
  clear: both;
  display: block; }

.col {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px; }

.col:not(.fx-fixed):not(.fx-item-carrossel) {
  position: relative; }

.col:not(.valign-right), .valign-left {
  float: left; }

.col:not(.valign-left).valign-right, .valign-right {
  float: right; }

a, button, input[type='submit'],
[class^="btn"]:after, button:after {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear; }

body.activate-canvas:before {
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear; }

.navbar.nav.menu.right-canvas {
  -webkit-transition: right 0.1s linear;
  -moz-transition: right 0.1s linear;
  -ms-transition: right 0.1s linear;
  -o-transition: right 0.1s linear;
  transition: right 0.1s linear; }

.navbar.nav.menu.left-canvas {
  -webkit-transition: left 0.1s linear;
  -moz-transition: left 0.1s linear;
  -ms-transition: left 0.1s linear;
  -o-transition: left 0.1s linear;
  transition: left 0.1s linear; }

[class^="btn"]:hover, button:hover, input[type="submit"]:hover,
[class^="btn"]:hover::after, button:hover::after {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.fx-item-carrossel {
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear; }

.fx-text-center {
  text-align: center; }

.fx-text-justify {
  text-align: justify; }

.fx-text-left {
  text-align: left; }

.fx-text-right {
  text-align: right; }

[class^="fx-alert-"] {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  display: inline-block; }

.fx-alert-attention {
  background-color: #D8FF00;
  border: solid 1px #D8FF00; }

.fx-text-s {
  font-size: 14px; }

.fx-text-m {
  font-size: 18px; }

.fx-text-l {
  font-size: 22px; }

.fx-text-x {
  font-size: 28px; }

.fx-text-xx {
  font-size: 32px; }

.fx-text-title {
  font-family: "Kontanter";
  text-transform: uppercase; }

.fx-fixed {
  position: fixed; }

.fx-fixed:not(.fx-neutral) {
  z-index: 999999; }

.fx-fixed.fx-neutral {
  z-index: -1; }

.fx-fixed.fx-top {
  top: 0; }

.fx-fixed.fx-bottom {
  bottom: 0; }

.fx-fixed.fx-left {
  left: 0; }

.fx-fixed.fx-right {
  right: 0; }

.fx-fixed.fx-absolute {
  min-width: 100%; }

.fx-window {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
  padding-top: 10%; }

.fx-window, .fx-banner-parallax {
  width: 100%;
  min-height: 100%; }

.fx-banner-parallax {
  z-index: -1; }

.fx-marks-banner {
  top: 45%;
  padding: 0 15px; }

.fx-marks-banner ul {
  list-style: none;
  position: relative; }

.fx-marks-banner ul:before {
  position: absolute;
  width: 1px;
  background-color: #FFFFFF;
  height: calc(100% - 30px);
  margin: 15px 0;
  left: 4px;
  top: 1px; }

.fx-marks-banner ul li {
  height: 30px;
  line-height: 30px;
  position: relative; }

.fx-marks-banner ul li a {
  display: inline-block; }

.fx-circle-mark {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #FFFFFF; }

.fx-marks-banner ul li a:before {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: absolute;
  top: 6px;
  left: -5px;
  background-color: rgba(255, 255, 255, 0); }

.fx-marks-banner ul li a.fx-circle-activate:before {
  background-color: rgba(255, 255, 255, 0.5); }

.fx-marks-banner ul li a:before,
.fx-load-text:after, .fx-load-text:before,
.fx-text-fadein {
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear; }

.fx-marks-banner ul li a.fx-circle-activate:before {
  -webkit-transition: all 3s linear;
  -moz-transition: all 3s linear;
  -ms-transition: all 3s linear;
  -o-transition: all 3s linear;
  transition: all 3s linear; }

.fx-loading {
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 999999999999999;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.fx-load {
  height: 40%;
  display: inline-block;
  margin-top: 10%; }

.fx-load-text {
  color: #FFFFFF;
  font-family: "Kontanter";
  font-weight: 100;
  display: inline-block;
  position: relative; }

.fx-load-text:after {
  width: 90%;
  margin: 0 5%;
  background-color: #00FF99;
  height: 1px;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-name: progress;
  -moz-animation-name: progress;
  -ms-animation-name: progress;
  -o-animation-name: progress;
  animation-name: progress;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.fx-load-text:before {
  content: "carregando";
  display: block;
  color: #00FF99;
  position: absolute;
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-animation-duration: 8s;
  -moz-animation-duration: 8s;
  -ms-animation-duration: 8s;
  -o-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-name: progress;
  -moz-animation-name: progress;
  -ms-animation-name: progress;
  -o-animation-name: progress;
  animation-name: progress;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.fx-out-right {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: outRight;
  -moz-animation-name: outRight;
  -ms-animation-name: outRight;
  -o-animation-name: outRight;
  animation-name: outRight;
  opacity: 0; }

.fx-text-fadein {
  -webkit-animation-duration: 0.65s;
  -moz-animation-duration: 0.65s;
  -ms-animation-duration: 0.65s;
  -o-animation-duration: 0.65s;
  animation-duration: 0.65s;
  -webkit-animation-name: inRight;
  -moz-animation-name: inRight;
  -ms-animation-name: inRight;
  -o-animation-name: inRight;
  animation-name: inRight;
  opacity: 1; }

.fx-effect-plin {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: plin-plin;
  -moz-animation-name: plin-plin;
  -ms-animation-name: plin-plin;
  -o-animation-name: plin-plin;
  animation-name: plin-plin;
  opacity: 1; }

.fx-effect-ping {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: ping;
  -moz-animation-name: ping;
  -ms-animation-name: ping;
  -o-animation-name: ping;
  animation-name: ping;
  opacity: 1; }

.fx-effect-scale {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: scale;
  -moz-animation-name: scale;
  -ms-animation-name: scale;
  -o-animation-name: scale;
  animation-name: scale; }

.fx-contextmenu {
  padding: 15px; }

.fx-contextmenu:not(.fx-before-right):not(.fx-before-bottom):before,
.fx-contextmenu.fx-before-right:not(.fx-before-bottom):before,
.fx-contextmenu.fx-before-bottom:before {
  position: absolute;
  width: 0; }

.fx-contextmenu:not(.fx-before-right):not(.fx-before-bottom):before,
.fx-contextmenu.fx-before-right:not(.fx-before-bottom):before {
  top: 0;
  border-top: solid 20px #D8FF00;
  border-bottom: solid 20px transparent; }

.fx-contextmenu.fx-before-bottom:before {
  bottom: 0;
  border-bottom: solid 20px #D8FF00;
  border-top: solid 20px transparent; }

.fx-contextmenu:not(.fx-before-right):before {
  left: -20px;
  border-left: solid 20px transparent; }

.fx-contextmenu.fx-before-right:before {
  right: -20px;
  border-right: solid 20px transparent; }

.fx-carrossel {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  padding: 3%;
  box-sizing: border-box; }

.fx-item-carrossel {
  display: inline-block;
  vertical-align: middle;
  visibility: visible;
  position: absolute;
  top: 0; }

@-webkit-keyframes plin-plin {
  0% {
    opacity: 1; }
  20% {
    opacity: 0; }
  40% {
    opacity: 1; }
  60% {
    opacity: 0; }
  80% {
    opacity: 1; } }
@-webkit-keyframes ping {
  0% {
    margin-bottom: 0; }
  20% {
    margin-bottom: 40px; }
  40% {
    margin-bottom: 0; }
  50% {
    margin-bottom: 20px; }
  60% {
    margin-bottom: 0; }
  70% {
    margin-bottom: 10px; }
  80% {
    margin-bottom: 0; }
  90% {
    margin-bottom: 5px; }
  100% {
    margin-bottom: 0; } }
@-webkit-keyframes progress {
  from {
    width: 10%; }
  10% {
    width: 25%; }
  15% {
    width: 40%; }
  30% {
    width: 35%; }
  50% {
    width: 50%; }
  70% {
    width: 45%; }
  90% {
    width: 80%; }
  100% {
    width: 0; } }
@-moz-keyframes progress {
  from {
    width: 10%; }
  10% {
    width: 25%; }
  15% {
    width: 40%; }
  30% {
    width: 35%; }
  50% {
    width: 50%; }
  70% {
    width: 45%; }
  90% {
    width: 80%; }
  100% {
    width: 0; } }
@-ms-keyframes progress {
  from {
    width: 10%; }
  10% {
    width: 25%; }
  15% {
    width: 40%; }
  30% {
    width: 35%; }
  50% {
    width: 50%; }
  70% {
    width: 45%; }
  90% {
    width: 80%; }
  100% {
    width: 0; } }
@-o-keyframes progress {
  from {
    width: 10%; }
  10% {
    width: 25%; }
  15% {
    width: 40%; }
  30% {
    width: 35%; }
  50% {
    width: 50%; }
  70% {
    width: 45%; }
  90% {
    width: 80%; }
  100% {
    width: 0; } }
@keyframes progress {
  from {
    width: 10%; }
  10% {
    width: 25%; }
  15% {
    width: 40%; }
  30% {
    width: 35%; }
  50% {
    width: 50%; }
  70% {
    width: 45%; }
  90% {
    width: 80%; }
  100% {
    width: 0; } }
@-webkit-keyframes inRight {
  from {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; }
  100% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    opacity: 1; } }
@-webkit-keyframes outRight {
  from {
    -webkit-transform-origin: right top;
    transform-origin: right top;
    opacity: 1; }
  100% {
    -webkit-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; } }
@-moz-keyframes outRight {
  from {
    -moz-transform-origin: right top;
    transform-origin: right top;
    opacity: 1; }
  100% {
    -moz-transform-origin: right top;
    transform-origin: right top;
    -moz-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; } }
@-ms-keyframes outRight {
  from {
    -ms-transform-origin: right top;
    transform-origin: right top;
    opacity: 1; }
  100% {
    -ms-transform-origin: right top;
    transform-origin: right top;
    -ms-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; } }
@-o-keyframes outRight {
  from {
    -o-transform-origin: right top;
    transform-origin: right top;
    opacity: 1; }
  100% {
    -o-transform-origin: right top;
    transform-origin: right top;
    -o-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; } }
@keyframes outRight {
  from {
    transform-origin: right top;
    opacity: 1; }
  100% {
    transform-origin: right top;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; } }
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.6; }
  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.7; }
  50% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0.8; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }
form {
  padding: 5px 15px; }

input {
  font-size: 14px;
  padding: 0 15px;
  font-family: "Kontanter", sans-serif;
  z-index: 99; }

input:not(.horizontal-direction) {
  display: block;
  margin-bottom: 10px; }

input:not(.horizontal-direction), button, [class^="btn"] {
  line-height: 35px; }

input:not(:last-child):not(.fx-input-invalid) {
  border-bottom: solid 1px #333333; }

input:not(:last-child) {
  border-left: none;
  border-right: none;
  border-top: none; }

input:focus {
  outline: none; }

label {
  position: relative; }

label, label.fx-clear, .fx-input-invalid {
  -webkit-transition: linear 0.15s all;
  -moz-transition: linear 0.15s all;
  -ms-transition: linear 0.15s all;
  -o-transition: linear 0.15s all;
  transition: linear 0.15s all; }

label:not(.fx-clear) {
  bottom: -30px; }

label.fx-clear {
  bottom: 0;
  color: #3498db;
  font-size: 13px; }

.fx-input-invalid {
  border-bottom: solid 1px #ee6e73;
  text-transform: capitalize;
  font-style: italic; }

.btn:not(.color), input[type="submit"], button {
  border: none;
  font-family: "Light 45", sans-serif;
  font-size: 16px;
  background-color: transparent; }

.btn:not(.color):not(.mobile-close-menu), input[type="submit"], button:not(.mobile-close-menu) {
  position: relative; }

.btn:not(.color):not(.mobile-button), input[type="submit"], button:not(.mobile-button) {
  padding: 5px 15px; }

[class^="btn"]:after, button:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

[class^="btn"]:not(.btn-circle):hover::after, button:not(.btn-circle):hover::after,
[class^="btn"]:not(.btn-circle):active::after, button:not(.btn-circle):active::after {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15); }

.btn-circle {
  width: 50px;
  height: 50px;
  border-radius: 100%; }

.btn-circle:hover::after {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3); }

[class^="btn"]:not(.color):hover::after, button:not(.color):hover::after,
[class^="btn"]:not(.color):active::after, button:not(.color):active::after {
  background-color: rgba(200, 200, 200, 0.4); }

[class^="btn"]:not(.color):hover, button:not(.color):hover,
[class^="btn"]:not(.color):active, button:not(.color):active {
  text-shadow: 0px 0px 0 #BBBBBB, 1px 1px 0 #BBBBBB, 2px 2px 0 #BBBBBB, 3px 3px 0 #BBBBBB, 4px 4px 0 #BBBBBB, 5px 5px 0 #BBBBBB, 6px 6px 0 #BBBBBB, 7px 7px 0 #BBBBBB, 8px 8px 0 #BBBBBB, 9px 9px 0 #BBBBBB, 10px 10px 0 #BBBBBB, 11px 11px 0 #BBBBBB, 12px 12px 0 #BBBBBB, 13px 13px 0 #BBBBBB, 14px 14px 0 #BBBBBB, 15px 15px 0 #BBBBBB, 16px 16px 0 #BBBBBB, 17px 17px 0 #BBBBBB, 18px 18px 0 #BBBBBB, 19px 19px 0 #BBBBBB, 20px 20px 0 #BBBBBB, 21px 21px 0 #BBBBBB, 22px 22px 0 #BBBBBB, 23px 23px 0 #BBBBBB, 24px 24px 0 #BBBBBB, 25px 25px 0 #BBBBBB, 26px 26px 0 #BBBBBB, 27px 27px 0 #BBBBBB, 28px 28px 0 #BBBBBB, 29px 29px 0 #BBBBBB, 30px 30px 0 #BBBBBB, 31px 31px 0 #BBBBBB, 32px 32px 0 #BBBBBB, 33px 33px 0 #BBBBBB, 34px 34px 0 #BBBBBB, 35px 35px 0 #BBBBBB, 36px 36px 0 #BBBBBB, 37px 37px 0 #BBBBBB, 38px 38px 0 #BBBBBB, 39px 39px 0 #BBBBBB, 40px 40px 0 #BBBBBB, 41px 41px 0 #BBBBBB, 42px 42px 0 #BBBBBB, 43px 43px 0 #BBBBBB, 45px 45px 0 transparent; }

[class^="btn"]:hover, button:hover, input[type="submit"]:hover {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9); }

.btn.color.red, [class^="btn"].color.red, button.color.red,
.btn.color.green, [class^="btn"].color.green, button.color.green,
.btn.color.green, [class^="btn"].color.blue, button.color.blue {
  color: #FFFFFF; }

.btn.color.red, [class^="btn"].color.red, button.color.red {
  background-color: #e74c3c; }

.btn.color.red:hover::after, [class^="btn"].color.red:hover::after, button.color.red:hover::after {
  background-color: rgba(231, 76, 60, 0.4); }

.btn.color.red:hover, [class^="btn"].color.red:hover, button.color.red:hover {
  text-shadow: 0px 0px 0 #8C2F24, 1px 1px 0 #8C2F24, 2px 2px 0 #8C2F24, 3px 3px 0 #8C2F24, 4px 4px 0 #8C2F24, 5px 5px 0 #8C2F24, 6px 6px 0 #8C2F24, 7px 7px 0 #8C2F24, 8px 8px 0 #8C2F24, 9px 9px 0 #8C2F24, 10px 10px 0 #8C2F24, 11px 11px 0 #8C2F24, 12px 12px 0 #8C2F24, 13px 13px 0 #8C2F24, 14px 14px 0 #8C2F24, 15px 15px 0 #8C2F24, 16px 16px 0 #8C2F24, 17px 17px 0 #8C2F24, 18px 18px 0 #8C2F24, 19px 19px 0 #8C2F24, 20px 20px 0 #8C2F24, 21px 21px 0 #8C2F24, 22px 22px 0 #8C2F24, 23px 23px 0 #8C2F24, 24px 24px 0 #8C2F24, 25px 25px 0 #8C2F24, 26px 26px 0 #8C2F24, 27px 27px 0 #8C2F24, 28px 28px 0 #8C2F24, 29px 29px 0 #8C2F24, 30px 30px 0 #8C2F24, 31px 31px 0 #8C2F24, 32px 32px 0 #8C2F24, 33px 33px 0 #8C2F24, 34px 34px 0 #8C2F24, 35px 35px 0 #8C2F24, 36px 36px 0 #8C2F24, 37px 37px 0 #8C2F24, 38px 38px 0 #8C2F24, 39px 39px 0 #8C2F24, 40px 40px 0 #8C2F24, 41px 41px 0 #8C2F24, 42px 42px 0 #8C2F24, 43px 43px 0 #8C2F24, 45px 45px 0 transparent; }

.btn.color.green, [class^="btn"].color.green, button.color.green {
  background-color: #2ecc71; }

.btn.color.green:hover::after, [class^="btn"].color.green:hover::after, button.color.green:hover::after {
  background-color: rgba(46, 204, 113, 0.4); }

.btn.color.green:hover, [class^="btn"].color.green:hover, button.color.green:hover {
  text-shadow: 0px 0px 0 #25A45B, 1px 1px 0 #25A45B, 2px 2px 0 #25A45B, 3px 3px 0 #25A45B, 4px 4px 0 #25A45B, 5px 5px 0 #25A45B, 6px 6px 0 #25A45B, 7px 7px 0 #25A45B, 8px 8px 0 #25A45B, 9px 9px 0 #25A45B, 10px 10px 0 #25A45B, 11px 11px 0 #25A45B, 12px 12px 0 #25A45B, 13px 13px 0 #25A45B, 14px 14px 0 #25A45B, 15px 15px 0 #25A45B, 16px 16px 0 #25A45B, 17px 17px 0 #25A45B, 18px 18px 0 #25A45B, 19px 19px 0 #25A45B, 20px 20px 0 #25A45B, 21px 21px 0 #25A45B, 22px 22px 0 #25A45B, 23px 23px 0 #25A45B, 24px 24px 0 #25A45B, 25px 25px 0 #25A45B, 26px 26px 0 #25A45B, 27px 27px 0 #25A45B, 28px 28px 0 #25A45B, 29px 29px 0 #25A45B, 30px 30px 0 #25A45B, 31px 31px 0 #25A45B, 32px 32px 0 #25A45B, 33px 33px 0 #25A45B, 34px 34px 0 #25A45B, 35px 35px 0 #25A45B, 36px 36px 0 #25A45B, 37px 37px 0 #25A45B, 38px 38px 0 #25A45B, 39px 39px 0 #25A45B, 40px 40px 0 #25A45B, 41px 41px 0 #25A45B, 42px 42px 0 #25A45B, 43px 43px 0 #25A45B, 45px 45px 0 transparent; }

.btn.color.blue, [class^="btn"].color.blue, button.color.blue {
  background-color: #3498db; }

.btn.color.blue:hover::after, [class^="btn"].color.blue:hover::after, button.color.blue:hover::after {
  background-color: rgba(52, 152, 219, 0.4); }

.btn.color.blue:hover, [class^="btn"].color.blue:hover, button.color.blue:hover {
  text-shadow: 0px 0px 0 #266E9E, 1px 1px 0 #266E9E, 2px 2px 0 #266E9E, 3px 3px 0 #266E9E, 4px 4px 0 #266E9E, 5px 5px 0 #266E9E, 6px 6px 0 #266E9E, 7px 7px 0 #266E9E, 8px 8px 0 #266E9E, 9px 9px 0 #266E9E, 10px 10px 0 #266E9E, 11px 11px 0 #266E9E, 12px 12px 0 #266E9E, 13px 13px 0 #266E9E, 14px 14px 0 #266E9E, 15px 15px 0 #266E9E, 16px 16px 0 #266E9E, 17px 17px 0 #266E9E, 18px 18px 0 #266E9E, 19px 19px 0 #266E9E, 20px 20px 0 #266E9E, 21px 21px 0 #266E9E, 22px 22px 0 #266E9E, 23px 23px 0 #266E9E, 24px 24px 0 #266E9E, 25px 25px 0 #266E9E, 26px 26px 0 #266E9E, 27px 27px 0 #266E9E, 28px 28px 0 #266E9E, 29px 29px 0 #266E9E, 30px 30px 0 #266E9E, 31px 31px 0 #266E9E, 32px 32px 0 #266E9E, 33px 33px 0 #266E9E, 34px 34px 0 #266E9E, 35px 35px 0 #266E9E, 36px 36px 0 #266E9E, 37px 37px 0 #266E9E, 38px 38px 0 #266E9E, 39px 39px 0 #266E9E, 40px 40px 0 #266E9E, 41px 41px 0 #266E9E, 42px 42px 0 #266E9E, 43px 43px 0 #266E9E, 45px 45px 0 transparent; }

.header.shadow {
  box-shadow: 0 0 3px #333333; }

.navbar:not(.nav) {
  padding-top: 15px;
  padding-bottom: 15px; }

ul.navbar.nav {
  list-style: none;
  padding: 0;
  z-index: 9;
  display: inline-block; }

.navbar.nav li {
  padding-right: 5px;
  padding-left: 5px;
  margin-left: 5px;
  margin-right: 5px; }

.navbar.nav li:not(.decorated) a {
  text-decoration: none; }

.mobile-button {
  padding: 5px 10px; }

.mobile-button, .navbar.nav li, .mobile-close-menu {
  float: left; }

.mobile-close-menu {
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 10px; }

.nav-links {
  margin-top: 15px;
  margin-bottom: 15px; }

.nav-links li {
  font-size: 22px;
  position: relative;
  padding: 5px 0 0;
  border: solid 1px #fff; }

.nav-links li:not(.color), .nav-links li:not(.color) > * {
  color: #FFFFFF; }

.nav-links li:not(.color):before {
  content: "";
  display: block;
  position: absolute;
  bottom: 2px;
  left: 5%;
  width: 90%;
  height: 1px;
  background-color: #FFFFFF;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0); }

.nav-links li:not(.color):hover:before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1); }

.fx-brand {
  display: inline-block;
  padding: 15px 0;
  position: relative; }

.fx-brand:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 5;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #D8FF00;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0); }

.fx-brand:hover:after {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1); }

.fx-brand, .fx-brand > b, .fx-brand > strong {
  font-family: "Kontanter";
  text-transform: uppercase;
  font-weight: 300; }

.fx-brand, .fx-brand > b, .fx-brand > strong,
.fx-brand:hover, .fx-brand:hover > b, .fx-brand:hover > strong,
.nav-links li:hover, .nav-links li:not(.color):before, .nav-links li:not(.color):hover:before,
.fx-brand:after, .fx-brand:hover:after {
  -webkit-transition: linear 0.3s all;
  -moz-transition: linear 0.3s all;
  -ms-transition: linear 0.3s all;
  -o-transition: linear 0.3s all;
  transition: linear 0.3s all; }

.light:not(.color) {
  background-color: #FFFFFF; }

.dark:not(.color) {
  background-color: #333333; }

.color.text.white {
  color: #FFFFFF; }

.color.text.yellow {
  color: #D8FF00; }

.color.text.grey {
  color: #CCCCCC; }

.color.text.cyan {
  color: #00FF99; }

.color.text.lead {
  color: #333333; }

.color:not(.text).white {
  background-color: #FFFFFF; }

.color:not(.text).grey {
  background-color: #CCCCCC; }

.color:not(.text).cyan {
  background-color: #00FF99; }

.color:not(.text).yellow {
  background-color: #D8FF00; }

.color:not(.text).lead {
  background-color: #333333; }

@media screen and (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto; }

  .col.l1 {
    width: 8.33333%; }

  .col.l2 {
    width: 16.66667%; }

  .col.l3 {
    width: 25%; }

  .col.l4 {
    width: 33.33333%; }

  .col.l5 {
    width: 41.66667%; }

  .col.l6 {
    width: 50%; }

  .col.l7 {
    width: 58.33333%; }

  .col.l8 {
    width: 66.66667%; }

  .col.l9 {
    width: 75%; }

  .col.l10 {
    width: 83.33333%; }

  .col.l11 {
    width: 91.66667%; }

  .col.l12 {
    width: 100%; }

  .col.offset-l1 {
    margin-left: 8.33333%; }

  .col.offset-l2 {
    margin-left: 16.66667%; }

  .col.offset-l3 {
    margin-left: 25%; }

  .col.offset-l4 {
    margin-left: 33.33333%; }

  .col.offset-l5 {
    margin-left: 41.66667%; }

  .col.offset-l6 {
    margin-left: 50%; }

  .col.offset-l7 {
    margin-left: 58.33333%; }

  .col.offset-l8 {
    margin-left: 66.66667%; }

  .col.offset-l9 {
    margin-left: 75%; }

  .col.offset-l10 {
    margin-left: 83.33333%; }

  .col.offset-l11 {
    margin-left: 91.66667%; }

  .col.offset-l12 {
    margin-left: 100%; }

  .visible-i, .hidden-l, .visible-s, .visible-m, .visible-t, .mobile-button, .mobile-close-menu {
    display: none; }

  .header:not(.reset) {
    padding: 15px 0; }

  .btn-circle:hover::after {
    border-radius: 100%; } }
@media screen and (max-width: 1200px) and (min-width: 960px) {
  .container {
    padding: 0 40px;
    width: auto; }

  .col.m1 {
    width: 8.33333%; }

  .col.m2 {
    width: 16.66667%; }

  .col.m3 {
    width: 25%; }

  .col.m4 {
    width: 33.33333%; }

  .col.m5 {
    width: 41.66667%; }

  .col.m6 {
    width: 50%; }

  .col.m7 {
    width: 58.33333%; }

  .col.m8 {
    width: 66.66667%; }

  .col.m9 {
    width: 75%; }

  .col.m10 {
    width: 83.33333%; }

  .col.m11 {
    width: 91.66667%; }

  .col.m12 {
    width: 100%; }

  .col.offset-m1 {
    margin-left: 8.33333%; }

  .col.offset-m2 {
    margin-left: 16.66667%; }

  .col.offset-m3 {
    margin-left: 25%; }

  .col.offset-m4 {
    margin-left: 33.33333%; }

  .col.offset-m5 {
    margin-left: 41.66667%; }

  .col.offset-m6 {
    margin-left: 50%; }

  .col.offset-m7 {
    margin-left: 58.33333%; }

  .col.offset-m8 {
    margin-left: 66.66667%; }

  .col.offset-m9 {
    margin-left: 75%; }

  .col.offset-m10 {
    margin-left: 83.33333%; }

  .col.offset-m11 {
    margin-left: 91.66667%; }

  .col.offset-m12 {
    margin-left: 100%; }

  .visible-i, .hidden-m, .visible-s, .visible-l, .visible-t, .mobile-button, .mobile-close-menu {
    display: none; }

  .header:not(.reset) {
    padding: 15px 0; } }
@media screen and (max-width: 960px) and (min-width: 768px) {
  .container {
    width: auto;
    padding: 0 40px; }

  .col.t1 {
    width: 8.33333%; }

  .col.t2 {
    width: 16.66667%; }

  .col.t3 {
    width: 25%; }

  .col.t4 {
    width: 33.33333%; }

  .col.t5 {
    width: 41.66667%; }

  .col.t6 {
    width: 50%; }

  .col.t7 {
    width: 58.33333%; }

  .col.t8 {
    width: 66.66667%; }

  .col.t9 {
    width: 75%; }

  .col.t10 {
    width: 83.33333%; }

  .col.t11 {
    width: 91.66667%; }

  .col.t12 {
    width: 100%; }

  .col.offset-t1 {
    margin-left: 8.33333%; }

  .col.offset-t2 {
    margin-left: 16.66667%; }

  .col.offset-t3 {
    margin-left: 25%; }

  .col.offset-t4 {
    margin-left: 33.33333%; }

  .col.offset-t5 {
    margin-left: 41.66667%; }

  .col.offset-t6 {
    margin-left: 50%; }

  .col.offset-t7 {
    margin-left: 58.33333%; }

  .col.offset-t8 {
    margin-left: 66.66667%; }

  .col.offset-t9 {
    margin-left: 75%; }

  .col.offset-t10 {
    margin-left: 83.33333%; }

  .col.offset-t11 {
    margin-left: 91.66667%; }

  .col.offset-t12 {
    margin-left: 100%; }

  .visible-i, .hidden-t, .visible-s, .visible-l, .visible-m, .mobile-button, .mobile-close-menu {
    display: none; } }
@media screen and (max-width: 768px) {
  .navbar.nav.menu li {
    width: calc(100% - 20px); }

  .navbar.nav.menu li:nth-child(2) {
    margin-top: 35px; }

  .navbar.nav.menu li:not(:last-child) {
    margin-bottom: 10px; }

  .navbar.nav.menu, body.canvas:before {
    position: fixed;
    top: 0;
    height: 100%; }

  .navbar.nav.menu:not(.color) {
    background-color: white; }

  .navbar.nav.menu:not(.left-canvas), .navbar.nav.menu.right-canvas {
    right: -100%;
    border-left: solid 2px; }

  .navbar.nav.menu:not(.right-canvas), .navbar.nav.menu.left-canvas {
    left: -100%;
    border-right: solid 2px; }

  .navbar.nav.menu.left-canvas:not(.color), .navbar.nav.menu.right-canvas:not(.color) {
    border-color: #DDDDDD; }

  .navbar.nav.menu {
    width: calc(100% - 2px);
    max-width: 50%; }

  .navbar.nav li {
    position: relative;
    z-index: 999; }

  .navbar.nav li, .navbar.nav li:after {
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear; }

  .navbar.nav li:after, nav li a, .navbar:after {
    display: block; }

  .navbar.nav li:after {
    content: "";
    height: 1px;
    margin: 10px -10px 0; }

  .navbar.nav li:hover::after, .navbar.nav li:active a {
    position: relative;
    z-index: 999; }

  .navbar.nav:not(.menu-color-custom) li:after {
    background-color: #DDDDDD; }

  .navbar:after {
    content: "";
    clear: both; }

  .navbar.nav li a {
    padding: 10px 10px;
    margin: -10px -10px; }

  body.activate-canvas {
    position: absolute; }

  body.activate-canvas, div.shadow-canvas {
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }

  div.shadow-canvas {
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9);
    left: 0;
    right: 0; } }
@media screen and (max-width: 768px) and (min-width: 320px) {
  .container {
    padding: 0 15px; }

  .col.s1 {
    width: 8.33333%; }

  .col.s2 {
    width: 16.66667%; }

  .col.s3 {
    width: 25%; }

  .col.s4 {
    width: 33.33333%; }

  .col.s5 {
    width: 41.66667%; }

  .col.s6 {
    width: 50%; }

  .col.s7 {
    width: 58.33333%; }

  .col.s8 {
    width: 66.66667%; }

  .col.s9 {
    width: 75%; }

  .col.s10 {
    width: 83.33333%; }

  .col.s11 {
    width: 91.66667%; }

  .col.s12 {
    width: 100%; }

  .col.offset-s1 {
    margin-left: 8.33333%; }

  .col.offset-s2 {
    margin-left: 16.66667%; }

  .col.offset-s3 {
    margin-left: 25%; }

  .col.offset-s4 {
    margin-left: 33.33333%; }

  .col.offset-s5 {
    margin-left: 41.66667%; }

  .col.offset-s6 {
    margin-left: 50%; }

  .col.offset-s7 {
    margin-left: 58.33333%; }

  .col.offset-s8 {
    margin-left: 66.66667%; }

  .col.offset-s9 {
    margin-left: 75%; }

  .col.offset-s10 {
    margin-left: 83.33333%; }

  .col.offset-s11 {
    margin-left: 91.66667%; }

  .col.offset-s12 {
    margin-left: 100%; }

  .visible-t, .hidden-i, .visible-s, .visible-l, .visible-m {
    display: none; } }
@media screen and (max-width: 320px) {
  .container {
    padding: 0 12px; }

  .col.i1 {
    width: 8.33333%; }

  .col.i2 {
    width: 16.66667%; }

  .col.i3 {
    width: 25%; }

  .col.i4 {
    width: 33.33333%; }

  .col.i5 {
    width: 41.66667%; }

  .col.i6 {
    width: 50%; }

  .col.i7 {
    width: 58.33333%; }

  .col.i8 {
    width: 66.66667%; }

  .col.i9 {
    width: 75%; }

  .col.i10 {
    width: 83.33333%; }

  .col.i11 {
    width: 91.66667%; }

  .col.i12 {
    width: 100%; }

  .col.offset-i1 {
    margin-left: 8.33333%; }

  .col.offset-i2 {
    margin-left: 16.66667%; }

  .col.offset-i3 {
    margin-left: 25%; }

  .col.offset-i4 {
    margin-left: 33.33333%; }

  .col.offset-i5 {
    margin-left: 41.66667%; }

  .col.offset-i6 {
    margin-left: 50%; }

  .col.offset-i7 {
    margin-left: 58.33333%; }

  .col.offset-i8 {
    margin-left: 66.66667%; }

  .col.offset-i9 {
    margin-left: 75%; }

  .col.offset-i10 {
    margin-left: 83.33333%; }

  .col.offset-i11 {
    margin-left: 91.66667%; }

  .col.offset-i12 {
    margin-left: 100%; }

  .visible-l, .hidden-i, .visible-m, .visible-s, .visible-t {
    display: none; } }

/*# sourceMappingURL=flex-framework.custom.css.map */
