img
   max-width: 100%

a
   text-decoration: none
   color: #2c3e50

h1
   font-family: "Helvetica UE light", sans-serif
   font-weight: 100

mz-cabecalho
   border-bottom: solid 1px #cccccc

mz-paragrafo *
   vertical-align: middle

#address
   cursor: pointer
   margin-bottom: 15px

strong
   color: #ecf0f1

a:hover, .flex-icons-star:hover,
.flex-icons-star-contorn:hover
   -webkit-animation-duration: .75s
   animation-duration: .75s

.mz-profile-image:hover
   -webkit-animation-duration: 1s
   animation-duration: 1s
a:hover,.flex-icons-star-contorn:hover
   -webkit-animation-name: bounceIn
   animation-name: bounceIn

.mz-social-media
   padding: 15px 0
   background-color: #f1c40f
   border-bottom: solid 3px #E0b30E

.mz-social-media p a
   color: #FFFFFF
   font-size: 22px
.mz-facebook, .mz-google-plus, .mz-github
   font-size: 24px
   margin-top: 8px
   display: inline-block

.mz-github,.mz-google-plus,.mz-facebook
   color: #FFFFFF
.mz-content-skills
   padding: 15px 0

.mz-map-address
   border-top: solid 1px #009688
   border-bottom: solid 1px #009688

.mz-float-dates-contact
   width: 100%
   z-index: 99
   background-color: rgba(255,255,255,0.8)
   padding: 10px 0 25px
   border-bottom: solid 3px #009688

.mz-content-map
   position: relative

mz-link
   position: relative

.mz-profile-image,.mz-profile-image-map
   overflow: hidden
   border: solid 3px #009688
.mz-profile-image-map
   width: 70px
   height: 70px
   margin: 0 auto
.mz-profile-image
   width: 90px
   height: 90px
   float: left
.mz-profile-image:not(.mz-no-radius),.mz-profile-image-map
   border-radius: 100%
.mz-profile-image:hover,.mz-profile-image-map:hover
   -webkit-animation-name: rubberBand
   animation-name: rubberBand

.mz-big-title
   font-family: "Open Sans", sans-serif
   font-stretch: condensed
   font-size: 44px
   font-weight: 300

.mz-txt-left
   text-align: left

.mz-align-right
   display: inline
   float: right

.mz-padding-box
   padding-bottom: 15px
   position: relative
   top: -7px

.mz-skills-box
   padding: 15px

.mz-skills-box li
   line-height: 40px

.flex-icons-star:hover
   -webkit-animation-name: swing
   animation-name: swing

.mz-header-shadow
   border-bottom: solid 1px #26A599
   box-shadow: 0 0 3px #26A599

.mz-header
   background-image: url(../assets/img/banner/nearly_there_terrigal_nsw-wallpaper-3840x2160.jpg)
   background-size: cover
   background-repeat: no-repeat
  
.mz-map-address
   width: 100%
   height: 500px

.mz-box-map
   padding: 15px
   width: calc(100% - 30px)

.mz-box-map:after
   clear: both
   display: block
   content: ""

.mz-box-map img
   max-width: 100%

.gm-style-iw
   left: 29px !important

.mz-text-center
   text-align: center

.mz-button
   padding-bottom: 10px !important
   padding-top: 10px !important
   background-color: #3498db

.mz-touch-icon
   font-size: 24px
   vertical-align: middle
   color: #0165a8
   margin: 0 10px

.mz-description
   padding-top: 15px
   padding-bottom: 15px
   text-align: justify

.mz-button-fixed-box
   position: fixed
   bottom: 0
   left: 0
   width: 100%
   text-align: center

#up
   background-color: #3498DB
   color: #FFFFFF
   border-top: solid 3px #FFFFFF

@media screen and (min-width: 1200px)
   .mz-header
      background-position-y: -290px

   .mz-description
      margin-top: 30px

@media screen and (max-width: 1200px) and (min-width: 960px)
   .mz-header
      background-position-y: -250px


@media screen and (max-width: 768px)
   mz-cabecalho
      padding-top: 15px
      padding-bottom: 15px

   #alert_header p
      padding: 0 15px

@import color