img
   max-width: 100%

a
   text-decoration: none
   color: #DDDDDD

a:hover, mz-link:hover, .mz-profile-image:hover
   -webkit-animation-duration: .75s
   animation-duration: .75s
a:hover
   -webkit-animation-name: bounceIn
   animation-name: bounceIn

.mz-profile-image:hover
   -webkit-animation-name: flip
   animation-name: flip

mz-link:hover
   -webkit-animation-name: tada
   animation-name: tada

.mz-profile-image
   width: 90px
   height: 90px
   float: left
   margin: -10px 0
   overflow: hidden
   border-radius: 100%