@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("fonts/untitled-font-1.eot");
  src:url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-1.woff") format("woff"),
    url("fonts/untitled-font-1.ttf") format("truetype"),
    url("fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-citibank:before {
  content: "a";
}
.icon-appstorm:before {
  content: "b";
}
.icon-ant:before {
  content: "c";
}
.icon-3docean:before {
  content: "d";
}
.icon-3docean-label:before {
  content: "e";
}
.icon-2co:before {
  content: "f";
}
.icon-activeden:before {
  content: "g";
}
.icon-activeden-label:before {
  content: "h";
}
.icon-albertosaurus:before {
  content: "i";
}
.icon-ali-pay:before {
  content: "j";
}
.icon-allosaurus:before {
  content: "k";
}
.icon-amago:before {
  content: "l";
}
.icon-amazon:before {
  content: "m";
}
.icon-animal:before {
  content: "n";
}
.icon-american-express:before {
  content: "o";
}
.icon-anis:before {
  content: "p";
}
.icon-check-circle:before {
  content: "q";
}
.icon-check:before {
  content: "r";
}
.icon-cheese:before {
  content: "s";
}
.icon-cheetah:before {
  content: "t";
}
.icon-cirrus:before {
  content: "u";
}
.icon-chameleon:before {
  content: "v";
}
.icon-camel:before {
  content: "w";
}
.icon-camel-1:before {
  content: "x";
}
.icon-bear:before {
  content: "z";
}
.icon-appstorm-label:before {
  content: "y";
}
.icon-arrow:before {
  content: "A";
}
.icon-beetle:before {
  content: "B";
}
.icon-bips:before {
  content: "C";
}
.icon-asia-pay:before {
  content: "D";
}
.icon-asia-rise:before {
  content: "E";
}
.icon-bird-little:before {
  content: "F";
}
.icon-egret:before {
  content: "G";
}
.icon-atos:before {
  content: "H";
}
.icon-audiojungle-label:before {
  content: "I";
}
.icon-audiojungle:before {
  content: "J";
}
.icon-duck:before {
  content: "K";
}
.icon-penguim:before {
  content: "L";
}
.icon-star:before {
  content: "M";
}
.icon-whale:before {
  content: "N";
}
.icon-circle-phone:before {
  content: "O";
}
.icon-awwwards:before {
  content: "P";
}
.icon-back-arrow:before {
  content: "Q";
}
.icon-bpay:before {
  content: "R";
}
.icon-bread:before {
  content: "S";
}
.icon-bull:before {
  content: "T";
}
.icon-butterfly:before {
  content: "U";
}
.icon-bbb:before {
  content: "V";
}
.icon-battery-low:before {
  content: "W";
}
.icon-battery:before {
  content: "X";
}
.icon-dilong:before {
  content: "Y";
}
.icon-cyberchimps-fill:before {
  content: "Z";
}
.icon-deer1:before {
  content: "0";
}
.icon-deer2:before {
  content: "1";
}
.icon-deer3:before {
  content: "2";
}
.icon-deer4:before {
  content: "3";
}
.icon-deinonychus:before {
  content: "4";
}
.icon-delta:before {
  content: "5";
}
.icon-desarrolloweb-1:before {
  content: "6";
}
.icon-desarrolloweb-label:before {
  content: "7";
}
.icon-designbeep:before {
  content: "8";
}
.icon-designer:before {
  content: "9";
}
.icon-diego:before {
  content: "!";
}
.icon-cyberchimps:before {
  content: "\"";
}
.icon-cssmatic:before {
  content: "#";
}
.icon-cut:before {
  content: "$";
}
.icon-cssmania:before {
  content: "%";
}
.icon-credit-security:before {
  content: "&";
}
.icon-credit-pass:before {
  content: "'";
}
.icon-credit-receipt:before {
  content: "(";
}
.icon-credit:before {
  content: ")";
}
.icon-credit-international:before {
  content: "*";
}
.icon-creattica:before {
  content: "+";
}
.icon-creative-label:before {
  content: ",";
}
.icon-creative:before {
  content: "-";
}
.icon-cow:before {
  content: ".";
}
.icon-citipati:before {
  content: "/";
}
.icon-claosaurus:before {
  content: ":";
}
.icon-clickandbuy:before {
  content: ";";
}
.icon-clock:before {
  content: "<";
}
.icon-cockroach:before {
  content: "=";
}
.icon-code:before {
  content: ">";
}
.icon-codecanyon-label:before {
  content: "?";
}
.icon-codecanyon:before {
  content: "@";
}
.icon-codrops:before {
  content: "[";
}
.icon-codrops1:before {
  content: "]";
}
.icon-coliss:before {
  content: "^";
}
.icon-coliss1:before {
  content: "_";
}
.icon-cones1:before {
  content: "`";
}
.icon-gazelle:before {
  content: "{";
}
.icon-fruit69:before {
  content: "|";
}
.icon-frog5:before {
  content: "}";
}
.icon-freepikcom:before {
  content: "~";
}
.icon-freepik3:before {
  content: "\\";
}
.icon-freepik2:before {
  content: "\e000";
}
.icon-fingers:before {
  content: "\e001";
}
.icon-fingers1:before {
  content: "\e002";
}
.icon-fingers2:before {
  content: "\e003";
}
.icon-fish28:before {
  content: "\e004";
}
.icon-fish31:before {
  content: "\e005";
}
.icon-fish33:before {
  content: "\e006";
}
.icon-fish44:before {
  content: "\e007";
}
.icon-flamingo3:before {
  content: "\e008";
}
.icon-error:before {
  content: "\e009";
}
.icon-euronet:before {
  content: "\e00a";
}
.icon-eway1:before {
  content: "\e00b";
}
.icon-exclamation-mark:before {
  content: "\e00c";
}
.icon-facebook29:before {
  content: "\e00d";
}
.icon-flaticon:before {
  content: "\e00e";
}
.icon-fly:before {
  content: "\e00f";
}
.icon-flying14:before {
  content: "\e010";
}
.icon-football10:before {
  content: "\e011";
}
.icon-fox1:before {
  content: "\e012";
}
.icon-finger5:before {
  content: "\e013";
}
.icon-finger3:before {
  content: "\e014";
}
.icon-finger2:before {
  content: "\e015";
}
.icon-finger:before {
  content: "\e016";
}
.icon-electric54:before {
  content: "\e017";
}
.icon-eco55:before {
  content: "\e018";
}
.icon-ebay5:before {
  content: "\e019";
}
.icon-earphones14:before {
  content: "\e01a";
}
.icon-dwolla1:before {
  content: "\e01b";
}
.icon-drwebde:before {
  content: "\e01c";
}
.icon-drupal:before {
  content: "\e01d";
}
.icon-eromangasaurus:before {
  content: "\e01e";
}
.icon-eps8:before {
  content: "\e01f";
}
.icon-envato1:before {
  content: "\e020";
}
.icon-envato:before {
  content: "\e021";
}
.icon-download195:before {
  content: "\e022";
}
.icon-dropbox15:before {
  content: "\e023";
}
.icon-dr:before {
  content: "\e024";
}
.icon-diners1:before {
  content: "\e025";
}
.icon-electronic53:before {
  content: "\e026";
}
.icon-elegant10:before {
  content: "\e027";
}
.icon-elephant6:before {
  content: "\e028";
}
.icon-down39:before {
  content: "\e029";
}
.icon-dolphin:before {
  content: "\e02a";
}
.icon-dollar81:before {
  content: "\e02b";
}
.icon-dogfish:before {
  content: "\e02c";
}
.icon-diskette16:before {
  content: "\e02d";
}
.icon-discover:before {
  content: "\e02e";
}
.icon-direct:before {
  content: "\e02f";
}
.icon-diplodocus:before {
  content: "\e030";
}
.icon-dinosaur11:before {
  content: "\e031";
}
.icon-dinosaur6:before {
  content: "\e032";
}
.icon-dinosaur4:before {
  content: "\e033";
}
.icon-dinosaur10:before {
  content: "\e034";
}
.icon-isopixel:before {
  content: "\e035";
}
.icon-hongkiat:before {
  content: "\e036";
}
.icon-horse176:before {
  content: "\e037";
}
.icon-hotdog1:before {
  content: "\e038";
}
.icon-hsbc:before {
  content: "\e039";
}
.icon-html3:before {
  content: "\e03a";
}
.icon-hummingbird:before {
  content: "\e03b";
}
.icon-inkydeals:before {
  content: "\e03c";
}
.icon-inkydeals1:before {
  content: "\e03d";
}
.icon-inspiredmag:before {
  content: "\e03e";
}
.icon-inspiremag:before {
  content: "\e03f";
}
.icon-instant:before {
  content: "\e040";
}
.icon-instant1:before {
  content: "\e041";
}
.icon-internet61:before {
  content: "\e042";
}
.icon-hippo2:before {
  content: "\e043";
}
.icon-heartland:before {
  content: "\e044";
}
.icon-hawk:before {
  content: "\e045";
}
.icon-hand14:before {
  content: "\e046";
}
.icon-hand13:before {
  content: "\e047";
}
.icon-hand11:before {
  content: "\e048";
}
.icon-hand10:before {
  content: "\e049";
}
.icon-hand9:before {
  content: "\e04a";
}
.icon-hand8:before {
  content: "\e04b";
}
.icon-hand6:before {
  content: "\e04c";
}
.icon-hand4:before {
  content: "\e04d";
}
.icon-hand5:before {
  content: "\e04e";
}
.icon-hammerhead:before {
  content: "\e04f";
}
.icon-gear39:before {
  content: "\e050";
}
.icon-gecko2:before {
  content: "\e051";
}
.icon-genbeta:before {
  content: "\e052";
}
.icon-genbeta1:before {
  content: "\e053";
}
.icon-gift55:before {
  content: "\e054";
}
.icon-giraffe3:before {
  content: "\e055";
}
.icon-github7:before {
  content: "\e056";
}
.icon-google46:before {
  content: "\e057";
}
.icon-gorgosaurus:before {
  content: "\e058";
}
.icon-graphicriver:before {
  content: "\e059";
}
.icon-graphicriver1:before {
  content: "\e05a";
}
.icon-guanlong:before {
  content: "\e05b";
}
.icon-gull:before {
  content: "\e05c";
}
.icon-mojo:before {
  content: "\e05d";
}
.icon-mobiletuxedo2:before {
  content: "\e05e";
}
.icon-mobiletuxedo1:before {
  content: "\e05f";
}
.icon-mobiletuxedo:before {
  content: "\e060";
}
.icon-mobile105:before {
  content: "\e061";
}
.icon-mobile88:before {
  content: "\e062";
}
.icon-microsiervos1:before {
  content: "\e063";
}
.icon-microsiervos:before {
  content: "\e064";
}
.icon-microraptor:before {
  content: "\e065";
}
.icon-microlancer1:before {
  content: "\e066";
}
.icon-logotype43:before {
  content: "\e067";
}
.icon-loving4:before {
  content: "\e068";
}
.icon-maestro:before {
  content: "\e069";
}
.icon-mamenchisaurus:before {
  content: "\e06a";
}
.icon-manta:before {
  content: "\e06b";
}
.icon-mastercard2:before {
  content: "\e06c";
}
.icon-master3:before {
  content: "\e06d";
}
.icon-meetup:before {
  content: "\e06e";
}
.icon-mastercard3:before {
  content: "\e06f";
}
.icon-megalosaurus:before {
  content: "\e070";
}
.icon-menu48:before {
  content: "\e071";
}
.icon-microlancer:before {
  content: "\e072";
}
.icon-link71:before {
  content: "\e073";
}
.icon-lemur:before {
  content: "\e074";
}
.icon-left97:before {
  content: "\e075";
}
.icon-left89:before {
  content: "\e076";
}
.icon-last-track1:before {
  content: "\e077";
}
.icon-laser1:before {
  content: "\e078";
}
.icon-lamb:before {
  content: "\e07a";
}
.icon-klarna1:before {
  content: "\e079";
}
.icon-kangaroo:before {
  content: "\e07b";
}
.icon-izettle:before {
  content: "\e07c";
}
.icon-istockphoto:before {
  content: "\e07d";
}
.icon-logotype165:before {
  content: "\e07e";
}
.icon-running29:before {
  content: "\e07f";
}
.icon-safari5:before {
  content: "\e080";
}
.icon-sage1:before {
  content: "\e081";
}
.icon-scorpion5:before {
  content: "\e082";
}
.icon-seahorse1:before {
  content: "\e083";
}
.icon-serpent:before {
  content: "\e084";
}
.icon-sheep3:before {
  content: "\e085";
}
.icon-shark1:before {
  content: "\e086";
}
.icon-sitepoint:before {
  content: "\e087";
}
.icon-skip3:before {
  content: "\e088";
}
.icon-skrill:before {
  content: "\e089";
}
.icon-sitepoint1:before {
  content: "\e08a";
}
.icon-running28:before {
  content: "\e08b";
}
.icon-roach:before {
  content: "\e08c";
}
.icon-ring2:before {
  content: "\e08d";
}
.icon-right-arrow8:before {
  content: "\e08e";
}
.icon-right102:before {
  content: "\e08f";
}
.icon-right92:before {
  content: "\e090";
}
.icon-right90:before {
  content: "\e091";
}
.icon-right86:before {
  content: "\e092";
}
.icon-rhino:before {
  content: "\e093";
}
.icon-resultados:before {
  content: "\e094";
}
.icon-redo13:before {
  content: "\e095";
}
.icon-recurly1:before {
  content: "\e096";
}
.icon-realex:before {
  content: "\e097";
}
.icon-plus51:before {
  content: "\e098";
}
.icon-plus53:before {
  content: "\e099";
}
.icon-popmoney1:before {
  content: "\e09a";
}
.icon-popular2:before {
  content: "\e09b";
}
.icon-porcupine2:before {
  content: "\e09c";
}
.icon-power66:before {
  content: "\e09d";
}
.icon-programminglanguage2:before {
  content: "\e09e";
}
.icon-psd1:before {
  content: "\e09f";
}
.icon-question56:before {
  content: "\e0a0";
}
.icon-rabbit5:before {
  content: "\e0a1";
}
.icon-rain41:before {
  content: "\e0a2";
}
.icon-rain42:before {
  content: "\e0a3";
}
.icon-rat2:before {
  content: "\e0a4";
}
.icon-planet21:before {
  content: "\e0a5";
}
.icon-pixeden1:before {
  content: "\e0a6";
}
.icon-pixeden:before {
  content: "\e0a7";
}
.icon-pixabay:before {
  content: "\e0a8";
}
.icon-pigeon:before {
  content: "\e0a9";
}
.icon-pig4:before {
  content: "\e0aa";
}
.icon-photodune1:before {
  content: "\e0ab";
}
.icon-photodune:before {
  content: "\e0ac";
}
.icon-phone72:before {
  content: "\e0ad";
}
.icon-phone63:before {
  content: "\e0ae";
}
.icon-payza:before {
  content: "\e0af";
}
.icon-paysafecard:before {
  content: "\e0b0";
}
.icon-paypal10:before {
  content: "\e0b2";
}
.icon-neteller1:before {
  content: "\e0b1";
}
.icon-no18:before {
  content: "\e0b3";
}
.icon-noupe:before {
  content: "\e0b4";
}
.icon-ogone:before {
  content: "\e0b5";
}
.icon-onions:before {
  content: "\e0b6";
}
.icon-owl13:before {
  content: "\e0b7";
}
.icon-page53:before {
  content: "\e0b8";
}
.icon-panther:before {
  content: "\e0b9";
}
.icon-parrot:before {
  content: "\e0ba";
}
.icon-pause23:before {
  content: "\e0bb";
}
.icon-pay4:before {
  content: "\e0bc";
}
.icon-paymate1:before {
  content: "\e0bd";
}
.icon-navigation:before {
  content: "\e0be";
}
.icon-payoneer:before {
  content: "\e0bf";
}
.icon-myspace6:before {
  content: "\e0c0";
}
.icon-mute40:before {
  content: "\e0c2";
}
.icon-moz:before {
  content: "\e0c1";
}
.icon-musical156:before {
  content: "\e0c3";
}
.icon-musical-notes:before {
  content: "\e0c4";
}
.icon-moving:before {
  content: "\e0c5";
}
.icon-mouse37:before {
  content: "\e0c6";
}
.icon-mosquito3:before {
  content: "\e0c8";
}
.icon-monkey3:before {
  content: "\e0c7";
}
.icon-monkey2:before {
  content: "\e0c9";
}
.icon-mondex1:before {
  content: "\e0ca";
}
.icon-moose2:before {
  content: "\e0cb";
}
.icon-logotype166:before {
  content: "\e133";
}
.icon-milk6:before {
  content: "\e134";
}
.icon-origami9:before {
  content: "\e135";
}
.icon-logotype157:before {
  content: "\e136";
}
.icon-paper20:before {
  content: "\e137";
}
.icon-pinterest3:before {
  content: "\e138";
}
.icon-wifisignal7:before {
  content: "\e139";
}
.icon-twitter1:before {
  content: "\e13a";
}
.icon-squares37:before {
  content: "\e13c";
}
.icon-sportive18:before {
  content: "\e13b";
}
.icon-socialnetwork211:before {
  content: "\e13d";
}
.icon-socialnetwork196:before {
  content: "\e13e";
}
.icon-socialnetwork192:before {
  content: "\e13f";
}
.icon-socialnetwork160:before {
  content: "\e140";
}
.icon-shoppingcart5:before {
  content: "\e142";
}
.icon-porridge:before {
  content: "\e143";
}
.icon-pirate1:before {
  content: "\e144";
}
.icon-afro1:before {
  content: "\e145";
}
.icon-battery120:before {
  content: "\e146";
}
.icon-battery123:before {
  content: "\e147";
}
.icon-basketball11:before {
  content: "\e148";
}
.icon-connection81:before {
  content: "\e149";
}
.icon-connection83:before {
  content: "\e14a";
}
.icon-socialnetwork171:before {
  content: "\e14b";
}
